<!--
Index page of website. Determined in route.rb inside config file

-->
<script>
var jumbo = document.getElementById('jumbotron');
jumbo.style.display = 'block';

var Pbar = document.getElementById('bar');
Pbar.style.display = 'none';
</script>

<div class="page-content home narrow">
    <div class="wrap">
        <div class="row">
            <center><h3>Everything BioScript Has To Offer</h3></center>
            <div class="col-md-4">
                <center><%= image_tag("targetUsers.png", :size => "120x80")%></center>
                </br><center><b>Who benifits from this site?</b></center>
                
                </br><p>Biological researchers working with next generation sequencing 
                data who are unfamiliar with the trimming and quality checking process of raw genomic data.</p>
            </div><!--end column1 -->
            
            <div class="col-md-4">
                <center><%= image_tag("tools.png", :size => "120x80")%></center>
                </br><center><b>What trimming tools are available on BioScript?</b></center>
                
                <p><b>BBDuk:</b> In our opinion the Goldilocks of trimming, not too much and not too little.
                
                </br></br><b>Trimmomatic:</b> Popular trimming tool used for Illumina NGS data. Flexible trimming 
                with good options to add. </p>
                
            </div><!--end column2 -->
            
            <div class="col-md-4">
                <center><%= image_tag("visualization.png", :size => "120x80")%></center>
                </br><center><b>What visualization is offered by BioScript?</b></center>
                
                </br><p><b>FastQC:</b> Developed by Babraham Bioinformatics, FastQC is the gold standard
                for quality control visualization. An optional add on for BioScript that creates
                a folder of html files containing the quality control reports of your command.</p>
            </div><!--end column3 -->
        </div><!--end row-->
        <hr>
        <div class="row">
            <center><h3>BioScript Products</h3></center>
            <div class="col-md-6">
                <center><%= image_tag("terminal.png", :size => "120x80")%></center>
                </br><center><b>Command Line Statement</b></center>
                </br><p> &bull; Input information about the structure of your system's directory. 
                </br>&bull; Add the trimming options you would like to apply to your data. 
                </br>&bull; BioScript creates a command you can execute within your system.
                </br></br><b>Strengths:</b> No knowledge of the super computing properties are needed like node size or computational power.
                </br><b>Weaknesses:</b> Must be executed on a computational node of the super computing system within the terminal.
                </p>
            </div><!--end column1 -->
            
            <div class="col-md-6">
                <center><%= image_tag("script.png", :size => "120x80")%></center>
                </br><center><b>PBS Script</b></center>
                </br><p> &bull; Input information about the structure of your system's directory.
                </br>&bull; Input properties of the super computing system such as memory and speed
                </br>&bull; Add the trimming options you would like to apply to your data. 
                </br>&bull; BioScript creates a .pbs file you can download and run within your system.
                </br></br><b>Strengths:</b> Easily executed from a login node, has the ability to sit in a queue.
                </br><b>Weaknesses:</b> Need to have knowledge of the super computing properties
                </p>
            </div><!--end column2 -->
        </div><!--end row-->
        
        <!--
        <hr>
        <div class="row">
            <center><h3>BioScript Help</h3></center>
            <div class="col-md-6">
                <center>Help Box</center>
            </div>
            <div class="col-md-6">
                <center>Comments box</center>
            </div>
        </div>
        -->
        
    </div><!--end wrap -->
</div> <!--End page-contnet-->

