<title>Select Trimming Tool</title>

<script>
    var pBar_select = document.getElementById('select');
    
    pBar_select.style.backgroundColor = "#53c322";
    
    var pBar_download = document.getElementById('download');
    
    pBar_download.style.backgroundColor = "#53c322";
    
    var pBar_directory = document.getElementById('directory');
    
    pBar_directory.style.backgroundColor = "#ff1616";
    
</script>

<div id = "BBDuk_form" style="display:none;">
    
    <h4>BBDuk: Enter some infromation about the directories on your super computing system</h4>
    
    <%= bootstrap_form_for @survey do |f| %>
        <%= f.hidden_field :tool, value: "BBDuk" %>
        
        <%= f.text_field :home_dir, label: "Home Directory:" %>
        Home directory of your super computing system. Should contain software, data, and output directories. Ex: " /users/PWOO0003/woo0024/ "
        <br>In this example, the home directory would be woo0024 shown in the figure below as "Home"
        <br>
        <%= f.text_field :software_dir, label: "Software Directory:"%>
        Location of the folder that contains the BBMap folder, following instructions from the Download Software step directory would be " woo0024/software/ "
        <br>The figure below shows the software directory to be "Home/Software/"
        <br>
        <%= f.text_field :input_dir, label: "Data Directory:" %>
        Location of data to be trimmed, directory points to the project folder holding all the files to be trimmed during this operation. ex: " woo0024/project1/ "
        <br>From the figure of directory layout below the data directory would be "Home/Data/Input/"
        
        <br>
        <%= f.text_field :output_dir, label: "Output Directory:" %>
        Location of the output data, folder created for this specific trimming operation. ex: " woo0024/project1/output/ "
        <br>The figure below shows this folder resides inside the home directory, and is named "Home/Output/"
        <br>
        <center><%= f.submit "Add Directory Information" %></center>
    <% end %>
</div>

<hr>

<div id = "Trimmomatic_form" style="display:none;">
    <h4>Trimmomatic: Enter some infromation about your super computing system</h4>
    
     <%= bootstrap_form_for @survey do |f| %>
        <%= f.hidden_field :tool, value: "Trimmomatic" %>
        
        <%= f.text_field :home_dir, label: "Home Directory:" %>
        Home directory of your super computing system. Should contain software, data, and output directories. Ex: " /users/PWOO0003/woo0024/ "
        <br>In this example, the home directory would be woo0024 shown in the figure below as "Home"
        <br>
        <%= f.text_field :software_dir, label: "Software Directory:"%>
        Location of the folder that contains the BBMap folder, following instructions from the Download Software step directory would be " woo0024/software/ "
        <br>The figure below shows the software directory to be "Home/Software/"
        <br>
        <%= f.text_field :input_dir, label: "Data Directory:" %>
        Location of data to be trimmed, directory points to the project folder holding all the files to be trimmed during this operation. ex: " woo0024/project1/ "
        <br>From the figure of directory layout below the data directory would be "Home/Data/Input/"
        
        <br>
        <%= f.text_field :output_dir, label: "Output Directory:" %>
        Location of the output data, folder created for this specific trimming operation. ex: " woo0024/project1/output "
        <br>The figure below shows this folder resides inside the home directory, and is named "Home/Output/"
        <br>
        <center><%= f.submit "Add Directory Information" %></center>
    <% end %>

    
</div>

<div id = "dirSetup">
    <h4>Suggested super computer directory layout</h4>
    
    <center><%= image_tag("DirectoryLayout.jpg", :size => "80%")%></center>
    <br>
    
    This figure shows the general layout for the folders directory needed for input. This is <b>not</b> the only way to set up the super computer directories, if your setup
    differes from this layout, that is <b>ok!</b> Just be sure to correctly input the path to the file you would like to use. 

    
</div>





<script type = "text/javascript">
    
    function showForm(){
        var tool = sessionStorage.getItem("tool");
        
        var bbduk_form = document.getElementById("BBDuk_form");
        var trimmomatic_form = document.getElementById("Trimmomatic_form");
        
        if(tool == "BBDuk"){
            bbduk_form.style.display = bbduk_form.style.display == "none" ? "block" : "none";
        }
        else if(tool == "Trimmomatic"){
            trimmomatic_form.style.display = trimmomatic_form.style.display == "none" ? "block" : "none";
        }
        
    }
    
    window.onload = showForm;
    
    function store(){
        sessionStorage.removeItem("tool"); //allows for tool reselection
        var radios = document.getElementsByName("tool");
        var INviz = document.getElementById("visualization");

        //Deals with radio buttons input complexity 
        for (var i =0, length = radios.length; i < length; i++){
            if (radios[i].checked){
                sessionStorage.setItem("tool", radios[i].value);
        }}
        
        sessionStorage.setItem("viz", INviz.value);
        //might need to removeItem if visualization is not wanted? maybe in edit function
        
        var tool = sessionStorage.getItem("tool");
        var fastQC = sessionStorage.getItem("viz");
        
        return [tool, fastQC];
    }
    
    
    function show(){
        input = store();
        var tool = input[0];
        var fastQC = input[1];
        
        var tool_div = document.getElementById("tool_selection");
        tool_div.style.display = tool_div.style.display == "none" ? "block" : "none";
        
        var bbduk_div = document.getElementById("BBDuk_form");
        var trimmomatic_div = document.getElementById("Trimmomatic_form");
        
        
        if(tool == "BBDuk"){
            bbduk_div.style.display = bbduk_div.style.display == "none" ? "block" : "none";
            pBar_select.style.backgroundColor = "#53c322";
            pBar_download.style.backgroundColor = "#b0b0b0";
        }
        else if(tool == "Trimmomatic"){
            trimmomatic_div.style.display = trimmomatic_div.style.display == "none" ? "block" : "none";
            
            pBar_select.style.backgroundColor = "#53c322";
            pBar_download.style.backgroundColor = "#b0b0b0";
        }
        else{
            alert(tool);
        }
    }
    
    
</script>
