<title>Select Trimming Tool</title>

<script>
    var pBar_select = document.getElementById('select');
    
    pBar_select.style.backgroundColor = "#53c322";
    
    var pBar_download = document.getElementById('download');
    
    pBar_download.style.backgroundColor = "#53c322";
    
    var pBar_directory = document.getElementById('directory');
    
    pBar_directory.style.backgroundColor = "#b0b0b0";
    
</script>

<div id = "BBDuk_form" style="display:none;">
    
    <h4>BBDuk: Enter some infromation about your super computing system</h4>
    
    <%= bootstrap_form_for @survey do |f| %>
        <%= f.hidden_field :tool, value: "BBDuk" %>
        <%= f.text_field :home_dir, label: "Home Directory:" %>
        <%= f.text_field :software_dir, label: "Software Directory:"%>
        <%= f.text_field :input_dir, label: "Input Directory:" %>
        <%= f.text_field :output_dir, label: "Output Directory:" %>
        <%= f.submit "Add Directory Information" %>
    <% end %>
</div>



<div id = "Trimmomatic_form" style="display:none;">
    <h4>Trimmomatic: Enter some infromation about your super computing system</h4>
    
     <%= bootstrap_form_for @survey do |f| %>
        <%= f.hidden_field :tool, value: "Trimmomatic" %>
        <%= f.text_field :home_dir, label: "Home Directory:" %>
        <%= f.text_field :software_dir, label: "Software Directory:"%>
        <%= f.text_field :input_dir, label: "Input Directory:" %>
        <%= f.text_field :output_dir, label: "Output Directory:" %>
        <%= f.submit "Add Directory Information" %>
    <% end %>

    
</div>



<script type = "text/javascript">
    
    function showForm(){
        var tool = sessionStorage.getItem("tool");
        
        var bbduk_form = document.getElementById("BBDuk_form");
        var trimmomatic_form = document.getElementById("Trimmomatic_form");
        
        if(tool == "BBDuk"){
            bbduk_form.style.display = bbduk_form.style.display == "none" ? "block" : "none";
        }
        else if(tool == "Trimmomatic"){
            trimmomatic_form.style.display = trimmomatic_form.style.display == "none" ? "block" : "none";
        }
        
    }
    
    window.onload = showForm;
    
    function store(){
        sessionStorage.removeItem("tool"); //allows for tool reselection
        var radios = document.getElementsByName("tool");
        var INviz = document.getElementById("visualization");

        //Deals with radio buttons input complexity 
        for (var i =0, length = radios.length; i < length; i++){
            if (radios[i].checked){
                sessionStorage.setItem("tool", radios[i].value);
        }}
        
        sessionStorage.setItem("viz", INviz.value);
        //might need to removeItem if visualization is not wanted? maybe in edit function
        
        var tool = sessionStorage.getItem("tool");
        var fastQC = sessionStorage.getItem("viz");
        
        return [tool, fastQC];
    }
    
    
    function show(){
        input = store();
        var tool = input[0];
        var fastQC = input[1];
        
        var tool_div = document.getElementById("tool_selection");
        tool_div.style.display = tool_div.style.display == "none" ? "block" : "none";
        
        var bbduk_div = document.getElementById("BBDuk_form");
        var trimmomatic_div = document.getElementById("Trimmomatic_form");
        
        
        if(tool == "BBDuk"){
            bbduk_div.style.display = bbduk_div.style.display == "none" ? "block" : "none";
            pBar_select.style.backgroundColor = "#53c322";
            pBar_download.style.backgroundColor = "#b0b0b0";
        }
        else if(tool == "Trimmomatic"){
            trimmomatic_div.style.display = trimmomatic_div.style.display == "none" ? "block" : "none";
            
            pBar_select.style.backgroundColor = "#53c322";
            pBar_download.style.backgroundColor = "#b0b0b0";
        }
        else{
            alert(tool);
        }
    }
    
    
</script>
